@basic-color: #00A1F1;
@secondary-color: #7CBB00;
@tertiary-color: #F65314;
@quaternary-color: #FFBB00;
@grey-color: lightgray;
@font-color: black;

* {
  box-sizing: border-box;
  color: @font-color;
  font-family: 'Montserrat';
}

.nav {
  &-container {
    height: 70px;
    width: 100%;  
    position: fixed;
    top: 0;
    border-bottom: 1px solid @grey-color;
    padding-top: 10px;
    background-color: white;
    z-index: 1000;
  }
  &-logo {
    font-size: 36px;
    margin-left: 20px;
    color: @tertiary-color;
    text-decoration: none;
    font-weight: 900;
  }
  &-items {
    display: inline-grid;
    width: 60%;
    height: 60px;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
  }
  &-tab {
    height: 100%;
    font-size: 30px;
    text-decoration: none;
    &:hover {
      color: @tertiary-color;
    }
  }
  &-active {
    border-bottom: 3px solid @tertiary-color;
  }
}

.about, .top-skills, .top-portfolio, .top-contacts {
  &-container {
    height: 900px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &-img {
    &-container {
      width: 600px;
      height: 600px;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      & img {
        width: 100%;
        height: 100%;
        overflow: hidden;
      }
    }
  }
  &-text {
    & h1, h2 {
      font-size: 300%;
      position: relative;
      left: 10%;
      top: 18%;
      color: @secondary-color;
    }
    & h1 {
      font-size: 600%;
      color: @basic-color;
    }
  }
}

.mission {
  &-container {
    height: 500px;
    background-color: @quaternary-color;
  }
  &-content {
    width: 70%;
    height: 70%;
    font-size: 48px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;
    color: white;
    & strong {
      color: white;
    }
  }
}

.achievement {
  &-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-around;
    height: auto;
    position: relative;
    top: -60px;
    left: 50%;
    transform: translate(-50%);
  }
  &-icon {
    width: 80px;
    height: 80px;
    fill: @basic-color;
    &-container {
      padding-top: 5%;
      width: 140px;
      height: 140px;
      border-radius: 50%;
      background-color: white;
      position: relative;
      left: 50%;
      transform: translate(-50%);
    }
  }
  &-item {
    display: grid;
    grid-template-rows: 180px 80px auto;
    & div {
      text-align: center;
    }
  }
  &-title {
    color: @basic-color;
    font-size: 36px;
    font-weight: 600;
    border-bottom: 3px solid @basic-color;
  }
  &-description {
    font-size: 30px;
    line-height: 2;
  }
}

.projects {
  &-container {
    height: 1000px;
  }
  &-title {
    font-size: 64px;
    border-bottom: 3px solid @basic-color;
    padding-bottom: 10px;
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  &-slider {
    width: 1200px;
    height: 750px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    & h1 {
      font-size: 64px;
    }
  }
  &-buttons button {
    position: relative;
    left: 50%;
    transform: translate(-50% - 60px);
    height: 40px;
    width: 120px;
    background-color: transparent;
    border: none;
  }
  &-btn {
    fill: @basic-color;
    width: 20px;
    height: 20px;
  }
}

.image___xtQGH {
  height: auto !important;
}

.footer {
  &-container {
    height: 160px;
    background-color: @basic-color;
    display: grid;
    grid-template-rows: 120px 20px;
    justify-content: space-around;
  }
  &-icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-around;
    padding-top: 60px;
  }
  &-icon {
    fill: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  &-copyright {
    color: white;
  }
}

.contacts {
  &-container {
    display: grid;
    grid-template-rows: repeat(5, auto);
    padding-bottom: 60px;
    justify-content: center;
    grid-gap: 100px;
  }
  &-item {
    &-title {
      cursor: pointer;
      text-align: center;
    }
  }
  &-icon {
    fill: @tertiary-color;
    width: 50px;
    height: 50px;
    position: relative;
    top: 10px;
  }
  &-tag {
    padding-top: 10px;
    font-size: 48px;
    padding-left: 20px;
  }
  &-text {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
  }
}

.blog {
  font-size: 200%;
  padding: 100px 20% 20px 20%;
  text-align: justify;
  & h1 {
    text-align: center;
  }
  &-item {
    text-align: center;
    align-items: center;
    padding-bottom: 100px;
    border-bottom: 3px solid lightgrey;
    & h1 {
      color: @basic-color;
      margin-bottom: 20px;
    }
  }
  &-tags {
    margin-bottom: 20px;
  }
  &-tag {
    padding: 10px;
    border: 1px solid @secondary-color;
    border-radius: 5px;
    font-size: 24px;
    margin-right: 20px;
  }
  &-link {
    padding: 5px 60px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: @tertiary-color;
  }
  &-description {
    margin-bottom: 50px;
  }
}